


menu.menuList{
    background-color: rgba(0,0,0,0.41);
    color: white;
    margin: 0;
    padding: 10px 0;  
    width: 100%;      
    height: 50px;     
    display: flex;     
    justify-content: left; 
    align-items:center;  
    position: fixed; 
    top: 0;
    left: 0;

    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}
li.menuItem {
    display: inline;
    font-size: 12px;
    padding-left: 7%;
    font-family: 'Instrument Sans';
    font-weight: normal;
    cursor: pointer;
}

h1.Title{
    
    padding-left: 40px;
    color: white;
    font-family: 'Instrument Sans', sans-serif;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    
}

h2{
    color: white;
    font-family: 'Instrument Sans', sans-serif;
    text-align: left;
    font-size: 14px;
    font-weight:normal;
    
}

button.mainButton{
    all: unset;
    font-size: 12px;
    font-family: 'Instrument Sans', sans-serif;
    display: inline-block;  
    border-radius: 30px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.48);
    color: white;
    text-align: center;
    cursor: pointer;
    width:150px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 52px rgba(255, 224, 162, 0.91);
    transition-duration: 300ms;
}
button.mainButton:hover{
    background-color: rgba(255, 255, 255, 0.48);
    box-shadow: 0px 0px 52px rgba(44, 39, 29, 0.91);
}
div.mainBtnAling{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    height: 60px;
 
}

.sidebar {
    position: fixed;
    width: 320px;
    margin-top: 8%;
    margin-left: 5%;
    padding-top: 20px;
    border-radius: 8px;
    background-color: rgb(20,20,20);
    display: block;
    border: 1px solid rgba(66, 66, 66, 1);
    box-sizing: content-box;
    height: 650px;
}

.inputBlock{
    margin-top: 30px;
    font-family: 'Instrument Sans', sans-serif;
    font-size: 14px;
    margin-left: 40px;
    
}

input.inputField{

    background-color:rgba(5, 5, 5, 1);
    width:240px;
    font-family: 'Instrument Sans', sans-serif;
    color: rgba(209, 209, 209, 1);
    font-size: 14px;
    height: 35px;
    border-radius: 5px;
    border: none;
    text-align: center;
    box-sizing: border-box;
    
    outline: none;
}

input.searchField{
    margin-top: 10px;
    background-color:rgba(5, 5, 5, 1);
    width:240px;
    margin-left: 40px;
    font-family: 'Instrument Sans', sans-serif;
    color: rgba(209, 209, 209, 1);
    font-size: 14px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-image: url('searchThumb.png');
    background-repeat: no-repeat;
    background-position: right 10px center; 
    background-size: 20px;
    padding-left: 10px;
    box-sizing: border-box;

    outline: none;
}

input.searchField:focus:not(:placeholder-shown) {
    background: none;
    background-color:rgba(5, 5, 5, 1);
}

body {
    display:flex;
    background-color: rgb(9,9,9);
}

.row{
    width:240px;
    overflow: hidden;
    display: flex;
    gap:20px;
    margin-bottom: 10px;
}

.selector{
    flex: 0 1 auto;
    background-color:rgba(5, 5, 5, 1);
    color: rgba(169, 169, 169, 1);
    font-size: 14px;
    height: 35px;
    max-width: 100%;
    width:140px;
    text-align: center;
    align-content: center;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    transition: background-color 300ms;
    
}


button, div,input {
    -webkit-user-select: none; 
    user-select: none; 
}


.panelsBlock {
    padding-bottom: 50px;
    width: auto;
    box-sizing: border-box;
    margin-top: 8%;
    padding-left: calc(10% + 320px);
    margin-bottom:50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    row-gap: 2%;
}

.panel {
    background-color: rgba(20, 20, 20, 1);
    outline-color: rgba(66, 66, 66, 1);
    width: 300px;
    height: 520px;
    border-radius: 8px;
    outline: 1px solid rgba(66, 66, 66, 1);
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out;
}

    .panel:hover {
        background-color: rgba(66, 66, 66, 1);
    }

.panel img {
     margin: 0 auto;
     display: block;

     padding-top : 8%;
     margin-bottom:10%;
     width: auto;
     height: 30%;

     object-position: center top;
 }

div.productBuyButton {
    background-color: rgba(255, 220, 92, 1);
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    height: 60px;
    max-width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5%;
    margin-bottom: 10%;
    width: auto;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    font-family: 'Instrument Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    display: block;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.productBuyButton:hover {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}